<!DOCTYPE html>
<html>

<head>
    
    <!-- Icon Code-->  
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <!-- {%load static%} -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" href="base.css">
    <!-- <link rel= "stylesheet" href="{%static "css/base.css"%}"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js"></script>
    <!-- <script src="{%static "js/main.js"%}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    
    <title>About | Safe from COVID</title>

    <!-- {%if navVis%} -->
    <!-- <div class="topnav">
        <a onclick = 'redirect("/home")' id = 'home-btn'>Home</a>
        <a id = 'about-btn' onclick = 'redirect("/about")'>About</a>
        {%if login != 0%}
        <a onclick = 'redirect("/profile")' id = 'profile-nav-btn'>Profile</a>
          {%if auth == True%}
          <a id = 'tracker-nav-btn' onclick = 'redirect("/tracker")'>Tracker</a>
          {%endif%}
        <a id = 'logout-btn' onclick = 'redirect("/logout")'>Logout</a>
        {%endif%}
    </div> -->
    <!-- {%endif%} -->
    
    <!-- Nav Bar -->
    <div class = "bck">
        
      <span style="font-size:30px;cursor:pointer ; color:white;" onclick="openNav()">&#9776;</span>
      
      <div class="topnav">    
          <img class="top" src="smalllogo.png" style = "width: 3%; height: 3%;"/>
          <a id = 'logout-btn' onclick = 'redirect("/logout")'>Logout</a>
          <a id = 'tracker-nav-btn' onclick = 'redirect("/tracker")'>Tracker</a>
          <a onclick = 'redirect("/profile")' id = 'profile-nav-btn'>Profile</a>
          <a id = 'about-btn' onclick = 'redirect("/about")'>About</a>  
          <a onclick = 'redirect("/home")' id = 'home-btn'>Home</a>
      </div>
      
      <div id="mySidenav" class="sidenav">
          <a id="navClose" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <a href="index.html">Home</a>
          <a class = "active" href="about.html">About</a>
          <a href="profile.html">Profile</a>
          <a href="tracker.html">Tracker</a>
          <a href="promote.html">Logout</a>
      </div>

      <h1 style="padding-top: 1vw; padding-bottom: 4vw;">About</h1>
      
    </div>

</head>

<body onload = 'document.getElementById("about-btn").className = "active"'>

  <div class="main-container">

    <div class="container"> 

      <div class = "jumbotron">

        <div class = "heading">
          <h2 class="text-left">Site Information</h2>
          <div class = "jumbotron"></div>
        </div>
        
        <p>
          This site was made as an early-warning system to inform users if they have been in contact
          with someone feeling ill or tested positive for COVID-19. We offer a tracking feature that
          uses GPS data from a users' devices to determine which users have come in close contact with eachother.
          Once a user claims they are unwell or positive, other users who have been in close contact with them are notified
          via email.
        </p>

        <div class = "heading">
          <h2 class="text-left" >Features (V1.2)</h2>
          <div class = "jumbotron"></div>
        </div>
      
        
        <p>
          PROFILE: View your account details and history of close contacts. You are also provided with options to update
          your health status (sick/positive for COVID-19)
          <br></br>
          TRACKER: Once you have logged in and verified your email, you can use the tracker to monitor your location and record close contacts with other users in the area.
          If a user you have come in close contact with claims they are sick/positive, you will receive an email notification with that individual's email and location of contact.
          <br></br>
          There are many factors involved in the spread of the disease,
          and due to given inaccuracy of GPS location data it is possible that you haven't actually come into
          contact with a high-risk/positive individual even when the service informs you so. We collect and verify user emails in order to provide
          contact information for a sick person to those who came in close contact with that individual.
          This increases accountability and minimizes the likelihood of abuse.
          <br></br>
          DISCLAIMER: THIS WEBSITE IS NOT INTENDED AS A REPLACEMENT FOR MEDICAL DIAGNOSIS. PLEASE CONSULT A DOCTOR WITH ANY HEALTH CONCERNS
        </p>
        
      </div>

    </div>
    
    <div>
      <footer>
          <a id="specialTag" href="https://www.facebook.com/Safe-from-COVID-103580788051476" class="fa fa-facebook"></a>
          <a id="specialTag" href="https://www.facebook.com/Safe-from-COVID-103580788051476" class="fa fa-envelope"></a>
      </footer>
    </div>
  
  </div>

</body>

</html>