<!DOCTYPE html>
<html>

<head>
    
    <!-- Icon Code--> 
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- {%load static%} -->
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel= "stylesheet" href="base.css">
    <!-- <link rel= "stylesheet" href="{%static "css/base.css"%}"> -->
    <link rel= "stylesheet" href="search.css">
    <!-- <link rel= "stylesheet" href="{%static "css/search.css"%}"> -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="main.js"></script>
    <!-- <script src="{%static "js/main.js"%}"></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    
    <title>Search | Safe from COVID</title>

    <!-- {%if navVis%} -->
    <!-- <div class="topnav">
        <a onclick = 'redirect("/home")' id = 'home-btn'>Home</a>
        <a id = 'about-btn' onclick = 'redirect("/about")'>About</a>
        {%if login != 0%}
        <a onclick = 'redirect("/profile")' id = 'profile-nav-btn'>Profile</a>
          {%if auth == True%}
          <a id = 'tracker-nav-btn' onclick = 'redirect("/tracker")'>Tracker</a>
          {%endif%}
        <a id = 'logout-btn' onclick = 'redirect("/logout")'>Logout</a>
        {%endif%}
    </div> -->
    <!-- {%endif%} -->
    
    
    <!-- Nav Bar -->
    <div class = "bck">
        
        <span style="font-size:30px;cursor:pointer ; color:white;" onclick="openNav()">&#9776;</span>
        
        <div class="topnav">    
            <img class="top" src="smalllogo.png" style = "width: 3%; height: 3%;"/>
            <a id = 'logout-btn' onclick = 'redirect("/logout")'>Logout</a>
            <a id = 'tracker-nav-btn' onclick = 'redirect("/tracker")'>Tracker</a>
            <a onclick = 'redirect("/profile")' id = 'profile-nav-btn'>Profile</a>
            <a id = 'about-btn' onclick = 'redirect("/about")'>About</a>  
            <a onclick = 'redirect("/home")' id = 'home-btn'>Home</a>
        </div>
        
        <div id="mySidenav" class="sidenav">
            <a id="navClose" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a class = "active" href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="profile.html">Profile</a>
            <a href="tracker.html">Tracker</a>
            <a href="promote.html">Logout</a>
        </div>
        
        <h1 style="padding-top: 1vw; padding-bottom: 4vw;">Search for Open Businesses/Restaurants</h1>
        
    </div>

</head>

<body onload="document.getElementById('home-btn').className = 'active'">

    <div class="main-container">
    
        <!-- intro -->
        <div class = "container">
            <div class = "jumbotron">
                <div class = "heading">
                    <h2 class="text-left">Search</h2>
                    <div class = "jumbotron"></div>
                </div>
                <p>Search for open businesses and restaurants in your area using the tool below. Once you find your desired business and location (and you plan on visiting),
                    please select the visiting button to let others know how popular a certain location is.
                </p>
            </div>
        </div>


        <div class = "container">
            <div class = "jumbotron">
                
                
                <form class="search" >
                    <input id="myInput" type="text" onkeyup="search()" placeholder="Search for a business or restaurant..." title="Search for a resource...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>

                <form class="search" >
                    <input id="myInput" type="text" onkeyup="search()" placeholder="Search for a city or location..." title="Search for a resource...">
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
                        
                <br><br><br><br>

                <!-- list of links-->
                <ul id="myUL">
                    <li>
                        <div class= "jumbotron">
                            <h2>Ashank's Fresh Market</h2>
                            <p>10:00 AM to 4:00 PM</p>
                            <p>8205 Ashby Ct., Plano, TX</p>
                            <p> 200 people interested in visiting</p>                    
                            <a href="test.html">Maps Link</a>
                            <div class="container">
                                <button>Visiting?</button>
                            </div>
                        </jumbotron>
                    </li>
                    <li>
                        <div class= "jumbotron">
                            <h2>Ashank's Fresh Market</h2>
                            <p>10:00 AM to 4:00 PM</p>
                            <p>8205 Ashby Ct., Plano, TX</p>
                            <p> 200 people interested in visiting</p>                    
                            <a href="test.html">Maps Link</a>
                            <div class="container">
                                <button>Visiting?</button>
                            </div>
                        </jumbotron>
                    </li>
                    <li>
                        <div class= "jumbotron">
                            <h2>Ashank's Fresh Market</h2>
                            <p>10:00 AM to 4:00 PM</p>
                            <p>8205 Ashby Ct., Plano, TX</p>
                            <p> 200 people interested in visiting</p>                    
                            <a href="test.html">Maps Link</a>
                            <div class="container">
                                <button>Visiting?</button>
                            </div>
                        </jumbotron>
                    </li>
                    <li>
                        <div class= "jumbotron">
                            <h2>Ashank's Fresh Market</h2>
                            <p>10:00 AM to 4:00 PM</p>
                            <p>8205 Ashby Ct., Plano, TX</p>
                            <p> 200 people interested in visiting</p>                    
                            <a href="test.html">Maps Link</a>
                            <div class="container">
                                <button>Visiting?</button>
                            </div>
                        </jumbotron>
                    </li>
                </ul>
            </div>
        </div>

    
        <div>
            <footer>
                <a id="specialTag" href="https://www.facebook.com/Safe-from-COVID-103580788051476" class="fa fa-facebook"></a>
                <a id="specialTag" href="https://www.facebook.com/Safe-from-COVID-103580788051476" class="fa fa-envelope"></a>
            </footer>
        </div>
    
    </div>

</body>

</html>